* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


.header {
    width: 100vw;
    height: 100px;
    background-color: #050607;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content:space-between;
    align-items: center;
    transition: filter 0ms ease-in-out 0ms;
}

.header > p {
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
    margin-left: 200px;
}

.header > button {
    font-size: 15px;
    padding: 14px 40px;
    border-radius: 8px;
    border: none;
    margin-right: 200px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header > button:hover {
    transform: scale(1.1);
}

.main-content {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,.9);

}

.opening {
    display: flex;
    justify-content: center;
}

.opening > button {
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 14px 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: white;
}

.opening > button:hover {
    background: rgb(211, 211, 211, .3);
}

.form-container {
    width: 275px;
    height: 470px;
    border-radius: 8px;
    background-color: #d3d3d3;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    box-shadow: 5px 10px 18px #888888;
}

.form-container.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-container > p {
    text-align: center;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 30px;
    gap: 20px;
}

input:focus {
    outline: 0;
}


#title, #author, #pages {
    width: 70%;
    padding: 12px 20px;
    border-radius: 8px;
    border-style: solid;
}

.error {
    border-color: red;
}

.success {
    border-color: green;
}

#sbt-btn {
    width: 86%;
    padding: 12px 20px;
    border-radius: 8px;
    border: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#sbt-btn:hover {
    transform: scale(1.1);
    background-color: #73b504;
}
#cnl-btn {
    width: 86%;
    padding: 12px 20px;
    border-radius: 8px;
    border: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#cnl-btn:hover {
    transform: scale(1.1);
    background-color: red;
}

#read-checker {
    position: relative;
    top: 1.5px;
    margin-left: 10px;
}

.book {
    display: grid;
    margin-left: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.card {
    height: 350px;
    width: 250px;
    background-color: white;
}

/*Javascript Classes */

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


